@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 20px;
    font-size: 40px;
    font-weight: 800;
    color: #304e6b;
}

form {
    width: 740px;
    padding: 16px;
    border-radius: 10px;
    margin: 10px 30px;
    background-color: #eef1f3;
    box-sizing: border-box;
}

form label {
    width: 120px;
    display: inline-block;
}

form input {
    width: 150px;
    display: inline-block;
    margin-right: 50px;
}

canvas {
    margin: 10px 30px;
}

#contenedor-archivo {
    width: 708px;
    margin: 10px 30px;
    padding: 16px;
    border-radius: 10px;
    background-color: #eef1f3;
}

#contenedor-archivo label {
    display: inline-block;
    width: 120px;
}
 #contenedor-archivo button {
    float: right;
    margin-right: 30px;
 }